/* .container{
    position: absolute;
    top: 330px;
    left: 700px;
    width: 150px;
    height: 100px;
    background-color: red;
    border-radius: 25px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
.container{
    background-color: rgb(165, 21, 21);
    width: 200px;
    height: 100px;
    margin:250px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgb(1, 47, 253);
    border-radius: 20px;
    cursor: pointer;
}
a{
    color: white;
    text-shadow: 0px 0px 5px rgb(98, 0, 255);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.container:hover{
    background-color: red;
    box-shadow: 0 0 15px yellow;
}
.container::after{
    background-color: green;
    box-shadow: 0 0 15px blue;
}